<div class="container mb-3">
  <ul class="nav nav-pills mt-3">
    <li class="nav-item d-flex align-items-center">
      <a class="navbar-brand">Angluar 16</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="users/list"
        >list</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="users/list-signals"
        >list-signals</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="signals-rxjs"
        >signals-rxjs</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="paulina"
        >recipes</a
      >
    </li>
  </ul>

  <router-outlet />
</div>
