<div class="container container-flex mt-3">
  <div
    class="card text-white"
    [ngClass]="color"
    style="width: 18rem"
    *ngFor="
      let recipe of recipes()
        | slice : pagination.rowInit() : pagination.endRow()
    "
  >
    <div class="card-body">
      <h5 class="card-header">{{ recipe.title.rendered }}</h5>
      <p class="card-text">
        <span
          [innerHTML]="recipe.excerpt.rendered"
          style="text-overflow: ellipsis; text-align: justify;"
        ></span>
        <!-- {{recipe.content.rendered}} -->
      </p>
      <a class="btn btn-primary button" [href]="recipe.link" target="_blank"
        >Go to recipe</a
      >
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="recipes().length > 0">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><div class="page-link">Previous</div></li>
      <li class="page-item"><div class="page-link">1</div></li>
      <li class="page-item"><div class="page-link">Next</div></li>
    </ul>
  </nav>
</div>
